.pageNumbers{
    list-style: none;
    display: flex;

    align-items: center;
  justify-content: center;
 
   }
   .pageNumbers li{
       padding: 10px;
       margin: 0 5px;
       width: 2.5rem;
       height: 2.5rem;
       background-color: #bbb8b8;
       border: 1px solid #bbb8b8;
       border-radius: 50px;
       cursor: pointer;
       align-items: center;
       justify-content: center;
       
      text-align: center;
      transition: color 128ms ease-out;
       background-color : 128ms ease-out;
     
   }
   .pageNumbers li:hover{
    background: #C774BB;
    border-color: #C774BB;
   }
   .pageNumbers li.active{
       background-color: #C774BB;
       border-color: #C774BB;
   }
   